.container__header--pedidos{
    background: #FF8000;
    display: flex;
    height: 80px;;
    font-family: 'Muli', sans-serif;
    letter-spacing: 3px;
    color: #fff;
    font-size: 20px;
    justify-content: space-between;
    padding-left: 50px;
    align-items: center;
  }
    .container__logo{
      display: flex;
      align-items: center;
    }
      .container__logo img{
        width: 80px;
        height: 70px;
      }
    .btn--estado{
      margin-right: 50px;
      display: flex;
    }
      .btn--espera{
        background: #fff;
        outline: none;
        border: none;
        cursor: pointer;
        width: 130px;
        height: 50px;
        margin-right: 15px;
        font-family: 'Muli', sans-serif;
        letter-spacing: 0.1em;
        font-size: 16px;
      }
      .btn--atendido{
        font-family: 'Muli', sans-serif;
        letter-spacing: 0.1em;
        background: none;
        border: none;
        font-size: 16px;
        outline: none;
      }
      .btn--atendido:hover{
        background: #fff;
        outline: none;
      }
